doctype html
html(ng-app='MusicStore')
  head
      title= title
      link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
      link(rel="stylesheet" href="/css/style.css")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
  body  
      div(ng-view)
      hr
      footer
      script(src="/bower_components/jquery/dist/jquery.js")
      script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
      script(src="/js/MusicStore.js")
      script(src="https://code.jquery.com/jquery-3.4.0.min.js")
