nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#') Music Store
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/#/') Home 
                li.nav-item
                    a.nav-link(href='/#/test') Test
                li.nav-item
                    a.nav-link(href='/#/search') Search Videos
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/#/login') Login
            li.nav-item
                a.nav-link(href='/#/register') Register
