<div ng-include="'partials/navbar.html'"></div>

<div class="container">
	<h1>Add Track</h1>

	<form>
		<div class="form-group">
			<label>Title</label>
			<input class="form-control" ng-model="track.title"></input>
		</div>
		<div class="form-group">
			<label>Album</label>
			<input class="form-control" ng-model="track.album"></input>
		</div>
		<div class="form-group">
			<label>Artist</label>
			<input class="form-control" ng-model="track.artist"></input>
		</div>
		<div class="form-group">
			<label>Genre</label>
			<label>{{track.genre}}</label>
			<select class="form-control" ng-model="track.genre">
				<option value="Rock">Rock</option>
				<option value="Pop">Pop</option>
				<option value="Jazz">Jazz</option>
				<option value="Blues">Blues</option>
				<option value="Country">Country</option>
				<option value="Classical">Classical</option>
				<option value="Heavy Metal">Heavy metal</option>
				<option value="Rapping">Rapping</option>
				<option value="Folk">Folk</option>
			</select>
		</div>
		<div class="form-group">
			<label>Track Length</label>
			<input class="form-control" ng-model="track.trackLength"></textarea>
		</div>
		<input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
	</form>

</div>
